@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll untuk seluruh halaman */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}
